In [6]:
import pandas as pd
FIPS = pd.read_csv('states.csv')
FIPS.index = FIPS['USPS']
FIPS.head()

            Name  FIPS USPS
USPS
AL       Alabama     1   AL
AK        Alaska     2   AK
AZ       Arizona     4   AZ
AR      Arkansas     5   AR
CA    California     6   CA

In [5]:
populations = pd.read_excel('state-populations.xlsx', index_col='State')
populations.head()

        State Name  population
State
AL        .Alabama     4903185
AK         .Alaska      731545
AZ        .Arizona     7278717
AR       .Arkansas     3017804
CA     .California    39512223

In [9]:
FIPS['population'] = populations['population']
FIPS.head()

            Name  FIPS USPS  population
USPS
AL       Alabama     1   AL     4903185
AK        Alaska     2   AK      731545
AZ       Arizona     4   AZ     7278717
AR      Arkansas     5   AR     3017804
CA    California     6   CA    39512223

In [12]:
FIPS[['Name', 'FIPS', 'population']].to_csv('state-populations.csv', )